{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Créer un nouveau épisode</h1>
    <div class="row">
        {{ include('episode/_form.html.twig') }}
    </div>
</div>
{% endblock %}
