{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-3">
    <h1 class="text-center">Create a new episode</h1>
    <div class="row">
        {{ include('episode/_form.html.twig') }}
    </div>
</div>
{% endblock %}
