{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Ajouter une nouvelle saison</h1>
    <div class="row">
        {{ include('season/_form.html.twig') }}
    </div>
</div>
{% endblock %}
