{% extends "base.html.twig" %}

{% block body %}
<div class="container my-3">
    <h1 class="text-center">Add a new program</h1>
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit" formnovalidate>Add program</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}